form{
    border: '1px solid black';
    background-color: rgba(136, 127, 127, 0.322);
    height:500px;
    width:900px;
    padding-top: 20px;
} 
#box{
    margin-left: 50px;
}
#bo{
    margin-left: 175px;
}
#mail{
    margin-left: 25px;
}
#state{
    margin-left: 149px;
}
#country{
    margin-left: 75px;
}
input[type="text"]{
    height:15px;
}
button{
    background: orange;
    margin-left: 180px;
}