<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" routerLink="/">News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/business">Business</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/technology">Technology</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/science">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/health">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/entertainment">Entertainment</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/api" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FETCHING API'S
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/github">GIT HUB</a>
              <a class="dropdown-item" routerLink="/json">JSON</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cars">CARS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/car-details">CAR DETAILS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homeproduct">HOME PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addProduct">ADD PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productdetails">PRODUCT DETAILS</a>
        </li>
    </ul>
    </div>
  </nav>