<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <p class="text-center">NEWS</p>
</nav>
<div>
    <div class="row" >   
            <div class="col-md-3 mt-5">
                    <img src="https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376__340.jpg" alt="">
                </div>
        <div class="col-md-3 mt-2">
                <h4>GENERAL</h4>
                      <div class="card" *ngFor = 'let news of sportsNews' >
                        <a href="{{news.url}}" ><img src="{{news.urlToImage}}" alt="" class="img-thumbnail img-top"></a>
                    <h4 class="card card-body">{{news.title}}</h4>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <img src="https://cdn.pixabay.com/photo/2015/11/07/12/02/business-1031754__340.jpg" alt="">
            </div>
        <div class="col-md-3 mt-2">
            <h4>BUSINESS</h4>
                      <div class="card" *ngFor = 'let news1 of businessNews' >
                        <a href="{{news1.url}}" ><img src="{{news1.urlToImage}}" alt="" class="img-thumbnail"></a>
                    <h4 class="card card-body">{{news1.title}}</h4>
                </div>
        </div>
    </div>
    </div>
