NOT NULL:
constrai


2.UNIQUE:
Unique constraints ensure that a field or column will only have unique values. will not have duplicate data.
can be applied at column level or table level.



3.PRIMARY KEY:
this constraint uniquely identifies each record in a data base
primary key contain unique value and it must not contain null value.
it can be applied column level and table level.

=>CHARACTERISTICS OF PRIMARY KEY:
A column assigned to the primary key cannot assign to duplicate value.
A table can have only one primary key.
A table cannot have more than one primary key

note:
It is not mandotory to have a primary key in the table but it is highly recommended.

4.FOREIGN KEY:
Foreign Key is used to relate two tables.
Its like a condition checking before saving data into a column.
it can applied table level as well as column level.

=>CHARACTERISTICS OF FOREIGN KEY:
A table in which foreign key is present it is known as child table.
A table in which its actually belongs it is parent table.
Foreign key must and should be defined as primary key in its parent table.
A column assigned to the foreign key can be null can accept duplicate and null values.
We cannot insert  a value in a column defined as foreign key which is not present in th parent table colomn.

5.CHECK:
This constraint is used to restrict the value of a colomn between a range.
its like condition checking before saving the data into a column.
it can be applied table level and as well as column level.